@import url("header.css");
@import url('common.css');




h2 {
    position: relative;
    color: #333;
    text-shadow: 0 0 2px white;
}


h2:before {
    content: "";
    position: absolute;
    background: #9de5ff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 50%;
    /* border: dashed 1px white; */
    left: -15px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -1;
}
.addbox {
    padding: 0.5em 1em;
    margin: 0 auto;
    color: #070707;
    background: #d8f9fd;
    border-bottom: solid 6px #b7d1d1;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    width:fit-content;
    height:fit-content;
}

.addbox p {
    margin: 0; 
    padding: 0;
}

.addbox h3 {
    padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
    color: #494949;/*文字色*/
    background: #f4f4f4;/*背景色*/
    border-left: solid 5px #7db4e6;/*左線*/
    border-bottom: solid 3px #d7d7d7;/*下線*/
}
.allbox{
    width:90%;
    margin:  0 auto;
    display:flex;
}

.addtable{
    margin-bottom:20px;
    border-collapse : collapse;
}

.addtable tr td, .addtable tr th{
    border-bottom: 1px solid rgb(16, 214, 240);
    vertical-align: top;
    padding-top:18px;
    padding-bottom:18px;
    padding-left:10px;
    padding-right:10px;
    position: relative;
}

.addtable tr th{
    background-color: #88daf8;
}

.addbox .redfont{
    color: rgb(252, 67, 67);
}

.passwordplaceholder::placeholder{
    font-size:11px;
}


