


.floatclear{
    clear:both;
}
.formsize{
    /* height: 400px; */
    width: fit-content;
    font-size: 20px;
	  margin: 1px 10px;
}
select,option{
    font-size: 20px;
	height: 20px;
}
input{
    font-size: 20px;
}


.box {
  margin: 2em 0;
  background: #f1f1f1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}
.box .boxtitle {
    font-size: 1.2em;
    background: #5fc2f5;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}
.box .boxcontent{
  margin: 20px
}

select{
	height: 30px!important;
}
.btn {
	text-align: center;
	/* vertical-align: middle; */
	text-decoration: none;
	font-size:30px;
	margin: 20px;
	padding: 0.5rem 0.5rem;
	font-weight: bold;
	border: 2px solid #27acd9;
	color: #27acd9;
	cursor: pointer;
	position: relative;
 	overflow: hidden;
 	z-index: 1;
}
.btn::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(39, 172, 217);
	transform: translateX(-100%);
	transition: all .3s;
	z-index: -1;
}
.btn:hover::before {
	transform: translateX(0);
}

.btn:hover {
	color: #fff;
}

table{
    width: 80%; 
    border-collapse:separate;
    border-spacing: 0;
    margin: 40px auto;
  }
  table th:first-child{
    border-radius: 5px 0 0 0;
  }
  table th:last-child{
    border-radius: 0 5px 0 0;
    border-right: 1px solid #3c6690;
  }
  table th{
    text-align: center;
    color:white;
    background: linear-gradient(#829ebc,#225588);
    border-left: 1px solid #3c6690;
    border-top: 1px solid #3c6690;
    border-bottom: 1px solid #3c6690;
    box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
    
    padding: 10px 0;
  }
  
  table td{
    text-align: center;
    border-left: 1px solid #a8b7c5;
    border-bottom: 1px solid #a8b7c5;
    border-top:none;
   /*  box-shadow: 0px -3px 5px 1px #eee inset; */
    
    padding: 10px 0;
  }
  table tr:nth-child(odd){
    background-color: rgba(35, 96, 157, 0.2);
  }
  table tr:nth-child(even){
    background-color: rgba(158, 29, 29, 0.2);
  }
  /* table tr:nth-child(odd) td {
	
} */
  #deltd{
    width :80px;
  }
  body{
    margin : 0px;
    background-color: #ffffe0;
    
    /* padding : 30px */
  }
  .smalltext{
    font-size:15px;
  }
  /* .textarea{
    height : 150px;
    width : 400px;
  } */
  textarea{
    height : 150px;
    width : 400px;

  }
  .middletextsize{
    font-size:18px;
  }
  .displaynone{
    display : none;
  }
  /* #clicksubmit{
    display : none;
  } */
  h2{
    margin : 30px
  }
  h2 {
    position: relative;
    color: #333;
    text-shadow: 0 0 2px white;
  }
  h2:before {
    content: "";
    position: absolute;
    background: #ffccff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 50%;
    /* border: dashed 1px white; */
    left: -15px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -1;
  }

  .commonbutton{
    cursor: pointer;
    background: #da541634;
    border-radius: 3px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 280px;
    padding: 5px 10px;
    color: #313131;
    transition: 0.1s ease-in-out;
    font-weight: 500;
  }
  .commonbutton:hover{
    background: #da5c2bd3;
    color:  #313131;
  }
  .commonbutton:after{
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #313131;
    border-right: 3px solid #313131;
    transform: rotate(45deg) translateY(-50%);
    position: absolute;
    top: 50%;
    right: 20px;
    border-radius: 1px;
    transition: 0.3s ease-in-out;
  }
  .commonbutton:hover:after {
    border-color: #FFF;
  }
