


.floatclear{
    clear:both;
}
.formsize{
    /* height: 400px; */
    width: fit-content;
    font-size: 20px;
	  margin: 1px 0px;
}
select,option{
    font-size: 20px;
	height: 20px;
}
input{
    font-size: 20px;
}
.left{
  vertical-align: top;
  display: inline-block; 
  _display: inline;
}
.center{
  display:block;
  margin: 40px auto;
  margin-bottom : 0px;
  width:fit-content;
  display : flex;
}



.box {
  margin: 0 auto;
  background: #f1f1f1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}
.box .boxtitle {
    font-size: 1.2em;
    background: #5fc2f5;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}
.box .boxcontent{
  /* margin: 20px */
  margin: 0px;
  padding-right : 10px;
}

select{
	height: 30px!important;
}
.btn {
	text-align: center;
	/* vertical-align: middle; */
	text-decoration: none;
	font-size:20px;
	margin: 20px;
	padding: 0rem 0.3rem;
	font-weight: bold;
	border: 2px solid #27acd9;
	color: #27acd9;
	cursor: pointer;
	position: relative;
 	overflow: hidden;
 	z-index: 1;
}
.btn::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(39, 172, 217);
	transform: translateX(-100%);
	transition: all .3s;
	z-index: -1;
}
.btn:hover::before {
	transform: translateX(0);
}

.btn:hover {
	color: #fff;
}

  .table1{
    width: 80%; 
    border-collapse:separate;
    border-spacing: 0;
    margin: 10px auto;
    margin-bottom : 300px;
  }
  .table1 th:first-child{
    border-radius: 5px 0 0 0;
  }
  .table1 th:last-child{
    border-radius: 0 5px 0 0;
    border-right: 1px solid #3c6690;
  }
  .table1 th{
    text-align: center;
    vertical-align: middle;
    color:white;
    background: linear-gradient(#829ebc,#225588);
    border-left: 1px solid #3c6690;
    border-top: 1px solid #3c6690;
    border-bottom: 1px solid #3c6690;
    box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
    padding: 10px 0;
  }
  .table1 th button{
    vertical-align:middle;
  }
  .table1 td form{
    margin-bottom:0px;
  }
  
  .table1 td{
    text-align: center;
    border-left: 1px solid #a8b7c5;
    border-bottom: 1px solid #a8b7c5;
    border-top:none;
   /*  box-shadow: 0px -3px 5px 1px #eee inset; */
    
    padding: 10px 0;
  }
  .table1 tr:nth-child(odd){
    background-color: rgba(248, 248, 250, 0.979);
  }
  .table1 tr:nth-child(even){
    background-color: rgba(195, 239, 250, 0.979);
  }
  #deltd{
    width :80px;
  }
  body{
    margin : 0px;
    background-color: #ffffe0;
  }
  .smalltext{
    font-size:15px;
  }
  
  textarea{
    height : 150px;
    width : 300px;

  }
  .middletextsize{
    font-size:18px;
  }
  .displaynone{
    display : none;
  }
  
  h2{
    margin : 30px
  }
  h2 {
    position: relative;
    color: #333;
    text-shadow: 0 0 2px white;
  }
  h2:before {
    content: "";
    position: absolute;
    background: #ffccff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 50%;
    /* border: dashed 1px white; */
    left: -15px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -1;
  }

  .commonbutton{
    cursor: pointer;
    background: #ecbba534;
    border-radius: 3px;
    position: relative;
    /* display: flex; */
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 280px;
    padding: 2px 3px;
    color: #313131;
    transition: 0.1s ease-in-out;
    font-weight: 500;
    font-size : 20px;
    vertical-align:middle;
  }
  .commonbutton:hover{
    background: #fc9802d3;
    color:  #313131;
  }
  .commonbutton:hover:after {
    border-color: #FFF;
  }
  .commonbutton img{
    width: 19px;
    height: auto;
    /* vertical-align: middle; */
    vertical-align:-2px;
  }

  
  .checknumber{
    position :relative;
  }
  .errormessagepar{
    position : relative;
    
  }
  .errormessage{
    position : absolute;
    bottom : 0;
  }
  .failfont{
    color : rgb(248, 46, 46);
    font-size: 14px;
  }

  /* inputtableについて */
  .inputtable tr td, .inputtable tr th{
    border-bottom: 1px solid rgb(16, 214, 240);
    vertical-align: top;
    padding-top:18px;
    padding-bottom:18px;
    padding-left:20px;
    position: relative;
  }
  .inputtable tr th{
    background-color : rgb(212, 245, 250);
    font-weight:400;
    vertical-align: middle;
    padding-right:10px;
    padding-left:10px;
  }
  .inputtable tr .arrayitem input{
    margin-top:5px;
  }
  
  .inputtable{
    border-collapse : collapse;
    width:100%;
    font-size:20px;
  }

  .passwordplaceholder::placeholder{
    font-size:11px;
  }

.successbox{
  font-size:35px;
  padding-right: 20px;
  padding-left:20px;
  margin: 0 auto;
  margin-bottom : 10px;
  margin-top : 10px;
  display : flex;
  text-align : center;
  align-items: center;
  background: linear-gradient(to bottom, #b4f1be, #80fd8b);/*背景色*/
  background: -webkit-linear-gradient(top, #befccd, #92fa78);/*背景色*/
  border : 1px solid #eeeeee;/*枠線*/
  border-top : 4px solid #00008b;/*上の線*/
  box-shadow : 0 -1px 0 rgba(255, 255, 255, 1) inset;
  color : #000000;/*文字色*/
  width:fit-content
}
.successbox form{
  margin: auto 0;
}
.failbox{
  font-size:20px;
  padding-right: 20px;
  padding-left:20px;
  margin: 0 auto;
  margin-bottom : 10px;
  display : flex;
  text-align : cneter;
  margin-top : 10px;
  align-items: center;
  background: linear-gradient(to bottom, #fcd3d3, #fd8080);/*背景色*/
  background: -webkit-linear-gradient(top, #fad6d6, #fa7878);/*背景色*/
  border : 1px solid #eeeeee;/*枠線*/
  border-top : 4px solid #00008b;/*上の線*/
  box-shadow : 0 -1px 0 rgba(255, 255, 255, 1) inset;
  color : #000000;/*文字色*/
  width:fit-content
}

