	header {
		width: 100%;
		padding: 5px 0;
		margin: 0 0;
		text-align: center;
		position: fixed;
		top: 0;
		z-index : 100;
		background-color: rgba( 204, 255, 204, 0.55 ) !important;
  	}
  	header .headline{
		float : left;
		font-size: 32px;
		font-family: serif;
		position: relative;
  	}
	header .headline div{
		position: relative;
		top: 6px;
		margin-left: 20px;
		display:inline-block;
		

	}
  .nav-list {
		/* text-align: center; */
		padding: 5px 0;
		align-items: flex-end;
		position: absolute;
		right: 0;
		/* bottom: 0; */
		top : calc(100% - 50px);;
		margin-block-end: 0 !important;
		margin-right : 50px;
  	}
  	.nav-list-item {
		width :250px;
		float : right;
		list-style: none;
		align-items: flex-end;
		margin: 0 5px;
		display:block;
		font-size:20px !important;
  	}
	  
	/* Submenu */
	.nav-list-item .submenu{
		margin : 0px;
		padding : 0px;
		width:100%;
		margin:0px;
		visibility: hidden;
		transform: rotateX(-90deg);
		transform-origin: 50% 0;
		transition: .3s;
	}

	.nav-list-item:hover .submenu{
		visibility: visible;
  		transform: rotateX(0);
	}
	.nav-list-item .rotation{
		transition: 0s;
		transform: rotateY(0);
	}
	.nav-list-item:hover .rotation{
		visibility: visible;
		transform: rotateY(360deg);
		transition: .5s;
	}
	.submenu li{
		list-style:none;
		width : 100%;
		float: left;
	}
	ul li ul li {
		background-color: #efefef;
	}
	ul li ul li:hover {
		background-color: #72bddb;
	}
	
  
  .headerbtn{
	background-color: rgba(247, 72, 2, 0);
	height : 35px;
	border:none; 
	
	cursor : pointer;
	width : 100%;
	height : 100%;
	
  }
  
  .headerbuttonanime{
	margin : 0px;
  }
  .headerbuttonanime::before{
	background-color: #f9330b;
	content: '';
	display: block;
	border-radius:10px;
	position: relative;
	z-index: 10;
	transition: all .3s ease;
	/* -webkit-transition: all .3s ease; */
	width: 0px;
    height: 5px;
    left: 0px;
    bottom: -40px;
  }
  .headerbuttonanime:hover::before{
	width: 100%;
  	width: calc(100% + 1px);
  }

  