@import url("header.css");
@import url('common.css');
@import url('change.css');
  .box{
    margin : 0 auto;
    margin-bottom:100px;
  }

  .formsize{
    /* height: 300px;
    width: 680px; */
    font-size: 20px;
  }
  .btn{
    font-size:23px;
  }
  


