@import url("header.css");
@import url('common.css');

  .box{
    margin : 0 auto;
  }

  .formsize{
    /* height: 300px;
    width: 680px; */
    font-size: 20px;
	  
  }
  .table1 td form{
    margin-left:10px;
    margin-right:10px;
  }
