body{
    background-color : #d1faec;
}


table{
    width: 80%; 
    border-collapse:separate;
    border-spacing: 0;
    margin: 40px auto;
  }
  table th:first-child{
    border-radius: 5px 0 0 0;
  }
  table th:last-child{
    border-radius: 0 5px 0 0;
    border-right: 1px solid #3c6690;
  }
  table th{
    text-align: center;
    color:white;
    background: linear-gradient(#829ebc,#225588);
    border-left: 1px solid #3c6690;
    border-top: 1px solid #3c6690;
    border-bottom: 1px solid #3c6690;
    box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
    
    padding: 10px 0;
  }
  
  table td{
    text-align: center;
    border-left: 1px solid #a8b7c5;
    border-bottom: 1px solid #a8b7c5;
    border-top:none;
   /*  box-shadow: 0px -3px 5px 1px #eee inset; */
    
    padding: 10px 0;
  }
  table tr:nth-child(odd){
    background-color: rgba(151, 199, 247, 0.945);
  }
  table tr:nth-child(even){
    background-color: rgba(248, 246, 246, 0.945);
  }
  .left{
    vertical-align: top;
    display: inline-block; 
    _display: inline;
  }
  .box{
    margin : 10px;
  }
  h2 {
    padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
    color: #494949;/*文字色*/
    background: #f4f4f4;/*背景色*/
    border-left: solid 5px #7db4e6;/*左線*/
    border-bottom: solid 3px #d7d7d7;/*下線*/
    display:inline-block
  }

  .selectbox{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  }
  .regibox{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5989cf;
    background: #c6e4ff;
    border-bottom: solid 6px #aac5de;
    border-radius: 9px;
  }


  